body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:408px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u339 {
  position:absolute;
  left:33px;
  top:20px;
  width:375px;
  height:667px;
}
#u340 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u341 {
  position:absolute;
  left:33px;
  top:44px;
  width:45px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u342 {
  position:absolute;
  left:212px;
  top:93px;
  width:110px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u343 {
  position:absolute;
  left:212px;
  top:241px;
  width:83px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u344 {
  position:absolute;
  left:212px;
  top:377px;
  width:83px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
