body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:834px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:696px;
}
#u104 {
  position:absolute;
  left:29px;
  top:36px;
  width:375px;
  height:696px;
}
#u105 {
  position:absolute;
  left:2px;
  top:340px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:159px;
  top:136px;
  width:105px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u107 {
  position:absolute;
  left:274px;
  top:136px;
  width:105px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u108 {
  position:absolute;
  left:35px;
  top:101px;
  width:297px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u109 {
  position:absolute;
  left:336px;
  top:101px;
  width:55px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u110 {
  position:absolute;
  left:108px;
  top:266px;
  width:213px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u111 {
  position:absolute;
  left:317px;
  top:401px;
  width:40px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u112 {
  position:absolute;
  left:359px;
  top:401px;
  width:32px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u113 {
  position:absolute;
  left:317px;
  top:638px;
  width:40px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u114 {
  position:absolute;
  left:359px;
  top:638px;
  width:32px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u115 {
  position:absolute;
  left:105px;
  top:569px;
  width:213px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u116 {
  position:absolute;
  left:192px;
  top:685px;
  width:45px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u117 {
  position:absolute;
  left:293px;
  top:685px;
  width:45px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u118 {
  position:absolute;
  left:336px;
  top:342px;
  width:55px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u119 {
  position:absolute;
  left:520px;
  top:112px;
  width:23px;
  height:23px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u120 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u121 {
  position:absolute;
  left:553px;
  top:111px;
  width:281px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u123 {
  position:absolute;
  left:287px;
  top:316px;
  width:23px;
  height:23px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u124 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
