body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:674px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:984px;
}
#u143 {
  position:absolute;
  left:33px;
  top:20px;
  width:375px;
  height:984px;
}
#u144 {
  position:absolute;
  left:2px;
  top:484px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:119px;
  top:200px;
  width:205px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u146 {
  position:absolute;
  left:33px;
  top:47px;
  width:41px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u147 {
  position:absolute;
  left:182px;
  top:427px;
  width:80px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u148 {
  position:absolute;
  left:185px;
  top:492px;
  width:23px;
  height:23px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u149 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u150 {
  position:absolute;
  left:520px;
  top:156px;
  width:23px;
  height:23px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u151 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u152 {
  position:absolute;
  left:553px;
  top:155px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
