body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:745px;
}
#u189 {
  position:absolute;
  left:33px;
  top:20px;
  width:375px;
  height:745px;
}
#u190 {
  position:absolute;
  left:2px;
  top:364px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:36px;
  top:135px;
  width:112px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u192 {
  position:absolute;
  left:158px;
  top:135px;
  width:112px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u193 {
  position:absolute;
  left:165px;
  top:638px;
  width:105px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u194 {
  position:absolute;
  left:36px;
  top:96px;
  width:307px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u195 {
  position:absolute;
  left:343px;
  top:96px;
  width:65px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u196 {
  position:absolute;
  left:36px;
  top:194px;
  width:372px;
  height:194px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u197 {
  position:absolute;
  left:176px;
  top:713px;
  width:92px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u198 {
  position:absolute;
  left:278px;
  top:713px;
  width:92px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u199 {
  position:absolute;
  left:520px;
  top:112px;
  width:23px;
  height:23px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u200 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u201 {
  position:absolute;
  left:553px;
  top:111px;
  width:41px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u203 {
  position:absolute;
  left:337px;
  top:225px;
  width:23px;
  height:23px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u204 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
