body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:674px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u208 {
  position:absolute;
  left:33px;
  top:20px;
  width:375px;
  height:667px;
}
#u209 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:33px;
  top:86px;
  width:261px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u211 {
  position:absolute;
  left:294px;
  top:86px;
  width:63px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u212 {
  position:absolute;
  left:357px;
  top:86px;
  width:51px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u213 {
  position:absolute;
  left:33px;
  top:181px;
  width:375px;
  height:354px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u214 {
  position:absolute;
  left:33px;
  top:47px;
  width:50px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u215 {
  position:absolute;
  left:520px;
  top:112px;
  width:23px;
  height:23px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u216 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u217 {
  position:absolute;
  left:553px;
  top:111px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u219 {
  position:absolute;
  left:520px;
  top:156px;
  width:23px;
  height:23px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u220 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u221 {
  position:absolute;
  left:553px;
  top:155px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u223 {
  position:absolute;
  left:271px;
  top:197px;
  width:23px;
  height:23px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u224 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u225 {
  position:absolute;
  left:271px;
  top:393px;
  width:23px;
  height:23px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u226 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
