body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:874px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u125 {
  position:absolute;
  left:33px;
  top:20px;
  width:375px;
  height:667px;
}
#u126 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:118px;
  top:156px;
  width:197px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u128 {
  position:absolute;
  left:33px;
  top:36px;
  width:49px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u129 {
  position:absolute;
  left:359px;
  top:249px;
  width:49px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u130 {
  position:absolute;
  left:33px;
  top:310px;
  width:375px;
  height:324px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u131 {
  position:absolute;
  left:520px;
  top:112px;
  width:23px;
  height:23px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u132 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u133 {
  position:absolute;
  left:553px;
  top:111px;
  width:241px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u135 {
  position:absolute;
  left:520px;
  top:156px;
  width:23px;
  height:23px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u136 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u137 {
  position:absolute;
  left:553px;
  top:155px;
  width:321px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u139 {
  position:absolute;
  left:261px;
  top:354px;
  width:23px;
  height:23px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u140 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u141 {
  position:absolute;
  left:385px;
  top:625px;
  width:23px;
  height:23px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u142 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
