body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:708px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u331 {
  position:absolute;
  left:33px;
  top:20px;
  width:375px;
  height:667px;
}
#u332 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u333 {
  position:absolute;
  left:33px;
  top:41px;
  width:42px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:185px;
}
#u334 {
  position:absolute;
  left:470px;
  top:246px;
  width:238px;
  height:185px;
}
#u335 {
  position:absolute;
  left:2px;
  top:84px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
